.icon-hierarchy {
    background-image: url('/images/icons-24/plus.png') !important;
}

.icon-treatment {
    background-image: url('/images/icons-24/cross.png') !important;
}

.icon-route {
    background-image: url('/images/icons/plus.png') !important;
}

.icon-bandage {
    background-image: url('/images/icons/cross.png') !important;
}
