.x-toolbar .x-btn-tl{
  background-position: -6px 0;
}
.x-toolbar .x-btn-tr{
  background-position: -9px 0;
}
.x-toolbar .x-btn-tc{
  background-position: 0 -9px;
}

.x-toolbar .x-btn-ml{
  background-position: -6px -24px;
}
.x-toolbar .x-btn-mr{
  background-position: -9px -24px;
}

.x-toolbar .x-btn-mc{
  background-position: 0 -2168px;
}
.x-toolbar .x-btn-bl{
  background-position: -6px -3px;
}
.x-toolbar .x-btn-br{
  background-position: -9px -3px;
}
.x-toolbar .x-btn-bc{
  background-position: 0 -18px;
}
