button.bosses_and_clerks {
  background: transparent url('/images/icons/user_suit_large.png') no-repeat;
}

button.users {
  background: transparent url('/images/icons/group.png') no-repeat;
}

button.about {
  background: transparent url('/images/icons/help.png') no-repeat;
}

button.book {
  background: transparent url('/images/icons/book.png') no-repeat;
}

button.misc {
  background: transparent url('/images/icons/odata_small.png') no-repeat;
}
