#app__about_window .x-panel-body {
  background-color: #CED9E7;
}

.bosses_and_clerks {
  background: transparent url('/images/icons/user_business.png') no-repeat;
}

.users {
  background: transparent url('/images/icons/users.png') no-repeat;
}

.about {
  background: transparent url('/images/icons/information_frame.png') no-repeat;
}

.book {
  background: transparent url('/images/icons/book.png') no-repeat;
}

.misc {
  background: transparent url('/images/icons/odata_small.png') no-repeat;
}
